In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("dataset/books.csv")

In [4]:
df.head()

,Unnamed: 0,id,name,rating_dist1,pages_number,rating_dist4,rating_dist_total,publisher,counts_of_review,publish_year,language,authors,rating,rating_dist2,rating_dist5,isbn,rating_dist3
0,0,41421,"""""We Only Come Here to Struggle"""": Stories fro...",0,176,1,7,Indiana University Press,0,2000,NaN,Berida Ndambuki,3,0,1,0253213665,5
1,1,24571,"""A"" Is For Asia",0,32,18,40,Scholastic,2,1999,NaN,Cynthia Chin-Lee,4,1,12,0531071413,9
2,2,27640,"""A"" Is for Abductive : The Language of the Eme...",5,338,14,49,Zondervan,3,2002,en-US,Leonard Sweet,3,5,4,0310243564,21
3,3,209,"""A"" Is for Zebra",1,32,22,60,Sterling,21,2006,NaN,Mark Shulman,3,3,15,1402734948,19
4,4,44572,"""Age Doesn't Matter Unless You're a Cheese"": W...",0,416,28,66,Workman Publishing Company,11,2002,NaN,Kathryn Petras,3,6,12,0761125183,20